<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD A QUESTION</title>
<body style="background-color:PeachPuff;">
</head>
<body>
<h1>Add new question</h1>
<form action="/add-question" method="POST">
    Title:<br>
    <input type="text" name="title" minlength="5" required><br>
    Message:<br>
    <textarea type="text" name="message" required></textarea><br>
    Image:<br>
    <input type="file" name="fileupload" value="fileupload" id="fileupload">
    <label for="fileupload"> Select an image to upload</label><br><br>
    <button type="submit">Add question!</button>
</form>
</body>
</html>