<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question </title>
<body style="background-color:Lavender;">
<style>
    td {
        border: 1px solid #999;
        padding: 0.1em 1em;
        max-width: 300px;
    }
</style>
</head>
<body>
<table>
    <thead>
    <th> AskMate Question:</th>

    </thead>
</table>
<br><br>
<table>
    <tr>
        <td>  {{ question[0]['title'] }}</td>
    </tr>
    <tr>
        <td> Q: {{ question[0]['message'] }}</td>
    </tr>
</table>
<br><br>

<table>
    {% if answers == [] %}
        <tr>
            <td>
                No answer posted yet
            </td>
        </tr>
    {% else %}
        {% for answer in answers %}
            <tr>
                <td>
                    <strong> Answer: {{ loop.index }} </strong>

                    <pre>{{ answer['message'] }}</pre>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<br><br>

<a href="/question/{{ question[0]['id'] }}/new-answer">Post an Answer</a><br><br>

<a href="/question/{{ question[0]['id'] }}/delete endpoint">Delete this question</a><br><br>

<a href="/list">Back to Question list</a><br><br>
</body>
{% include 'footer.html' %}
</html>